<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
	<p><a [routerLink]="['/login']">Login</a>
	<a [routerLink]="['/register']">Register</a></p>
	<div class="row">
		<div class="col-sm-12">
		    <alert></alert>
		    <router-outlet></router-outlet>
		</div>
	</div>
</div>
