<table class="table">
	<tr>
		<th>Name</th>
		<th>Surname</th>
		<th>Job Title</th>
		<th>Profile Pic</th>
	</tr>
	<tr>
		<td>{{ user.first_name }}</td>
		<td>{{ user.last_name }}</td>
		<td>{{ user.job_title }}</td>
		<td>{{ user.avatar }}</td>
	</tr>

</table>