<div class="col-md-6 col-md-offset-3">
    <h2>Register</h2>
<form [formGroup]="form" (ngSubmit)="register(form.value)">
    <div class="form-group">
        <label for="first_name">Name</label>
        <input class="form-control" type="text" formControlName="first_name" required>
        <div class="has-danger" 
        *ngIf="form.controls.first_name.invalid && (form.controls.first_name.dirty )"> 
         Name is required
        </div>
     </div>
   <div class="form-group">
        <label for="last_name">Sur Name</label>
        <input class="form-control" type="text" formControlName="last_name" required>
        <div class="has-danger" 
        *ngIf="form.controls.last_name.invalid && (form.controls.last_name.dirty )"> 
        Sur Name is required
        </div>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" type="text" formControlName="email" required>
        <div class="has-danger" 
        *ngIf="form.controls.email.invalid && (form.controls.email.dirty )"> 
         Email is required
        </div>
    </div>
    <div class="form-group">
        <label for="password">Username</label>
        <input class="form-control" type="text" formControlName="username" required>
        <div class="has-danger" 
        *ngIf="form.controls.username.invalid && (form.controls.username.dirty )"> 
         Username is required
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="password" formControlName="password" required>
        <div class="has-danger" 
        *ngIf="form.controls.password.invalid && (form.controls.password.dirty )"> 
         Password is required
        </div>
    </div>
    <div class="form-group">
        <label for="password_confirmation">Confirm Password</label>
        <input class="form-control" type="password" formControlName="password_confirmation" required>
        <div class="error" *ngIf="form.controls.password_confirmation.hasError('equalTo') && form.controls.password_confirmation.touched">
        Confirm Password Mismatch
    </div>
    </div>
    <div class="form-group">
        <label for="job_title">Job Title</label>
        <input class="form-control" type="text" formControlName="job_title" required>
        <div class="has-danger" 
        *ngIf="form.controls.job_title.invalid && (form.controls.job_title.dirty )"> 
         Job Title is required
        </div>
    </div>
    <div class="form-group">
        <label for="avatar">Avatar</label>
         <input type="file" id="avatar" name="avatar"  (change)="onFileChange($event)"  >
    </div>
    <button type="submit" [disabled]="form.invalid" class="btn btn-success">Submit <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i></button>
</form>
</div>